# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.nyc_output

# production
/build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# Netlify
.netlify/cache
.netlify/state.json

# Other
.DS_Store
*.pem
.vscode

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Netlify functions build output
/functions-dist 